<div class="row">
  <div class="col-xs-12">
    <h1>{{ board.boardName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">{{'Edit' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">{{'Delete' | translate}}</button>
    <button type="button" class="btn btn-success" (click)="onRefresh()">{{'Refresh' | translate}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{ 'Interests' | translate }}</h4>
    <app-interest
      *ngFor="let interestEl of interests"
      [interest] = interestEl
    ></app-interest>
  </div>
</div>
