<div class="row">
  <div class="col-xs-12">
    <h1>{{ board.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{ 'Interests' | translate }}</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let interest of board.interests">
        {{ interest }}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">{{'Edit' | translate}}</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">{{'Delete' | translate}}</button>
  </div>
</div>
