<div class="row">
  <div class="col-xs-12">
    <button [disabled] = "!serverAlive" class="btn btn-success" (click)="onNewBoard()">{{'New board' | translate}}</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <span color="red" *ngIf="!serverAlive">{{'Can\'t connect' | translate}}</span>
    <hr *ngIf="!serverAlive">
    <div *ngIf="existingBoards">
    <app-board-item
      *ngFor="let boardEl of boards; let i = index"
      [board]="boardEl"
      [index]="i"></app-board-item>
    </div>
  </div>
</div>

